* {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-45deg, hsl(22, 82%, 63%), hsl(273, 88%, 61%), hsl(196, 72%, 49%), hsl(166, 72%, 49%));
  background-size: 400% 400%;
  animation: gradient 5s ease-in-out infinite;

  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  min-height: 100vh;
  max-height: max-content;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 3vh 2rem 2rem 2rem;
  margin: 0 auto;
  background-color: rgb(47, 46, 54);
  border-radius: 0.8rem;

  /* Keep shape while text-filtering table*/
  min-width: 40%;
  max-width: 90%;
}

table {
  min-width: 470px;
}

form {
  width: 100%;
}

fieldset {
  all: unset;
  /* reset fieldset*/ 
  
  display: flex;
  flex-direction: column;
  padding-top: 0.4rem;
  margin-left: 5%;
  
}

.textInput {
  width: 12rem;
  border-radius: 0.4rem;
  padding: 0.4rem;
  margin-left: 5%;
}

th {
  padding-top: 0.9rem;
}

td {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}



@media only screen and (max-width: 565px) {
  .mainContainer {
    line-height: 18px;
    font-size: 0.8rem;
    padding-right: 0.2rem;
    padding-left: 0.3rem;
  }

  td {
    padding-bottom: 0.5rem;
    padding-right: 0.2rem;
  }

  table {
    min-width: 357px;
  }
  
}

@media only screen and (max-width: 417px) {
  .mainContainer {
    line-height: 17px;
    font-size: 0.7rem;
    max-width: 90vw;
    padding-right: 0.05rem;
    padding-left: 0.03rem;
    padding-bottom:0.3rem;
  }

  td {
    padding-bottom: 0.5rem;
    padding-right: 0.2rem;
  }

  th {
    padding-bottom: 0.2rem;
  }

  table {
    min-width: unset;
  }
  
}

/* .newContainer {
  width: 100vw;
  height: min-content;
} */